 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [2]:
# Reading whale returns
whale_file = Path('./Resources/whale_returns.csv')
whale_returns = pd.read_csv(whale_file)
# test the data

#whale_returns.set_index(pd.to_datetime(whale_returns['Date'], infer_datetime_format=True), inplace=True)
whale_returns.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [3]:
# Count nulls
whale_returns.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [4]:
# Drop nulls
whale_returns = whale_returns.dropna()
# check count
whale_returns.isnull().sum()

cols = ['Date', 'SOROS', 'PAULSON', 'TIGER', 'BERKSHIRE']

whale_returns.columns = cols
whale_returns.head(5)

         Date     SOROS   PAULSON     TIGER  BERKSHIRE
1  2015-03-03 -0.001266 -0.004981 -0.000496  -0.006569
2  2015-03-04  0.002230  0.003241 -0.002534   0.004213
3  2015-03-05  0.004016  0.004076  0.002355   0.006726
4  2015-03-06 -0.007905 -0.003574 -0.008481  -0.013098
5  2015-03-09  0.000582  0.004225  0.005843  -0.001652

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [5]:
# Reading algorithmic returns
whale_returns.head()
whale_returns.describe()

soros = whale_returns['SOROS'].pct_change()
soros

1             NaN
2       -2.762070
3        0.800968
4       -2.968465
5       -1.073656
          ...
1055    -1.124733
1056   -29.607053
1057    -0.846082
1058    -2.032021
1059     3.516783
Name: SOROS, Length: 1059, dtype: float64

In [6]:
paulson = whale_returns['PAULSON'].pct_change()
paulson

1            NaN
2      -1.650792
3       0.257544
4      -1.876837
5      -2.182252
          ...
1055   -2.279801
1056   -8.097525
1057   -0.703202
1058   -1.813282
1059   -0.393524
Name: PAULSON, Length: 1059, dtype: float64

In [7]:
tiger = whale_returns['TIGER'].pct_change()
tiger

1             NaN
2        4.113646
3       -1.929234
4       -4.601872
5       -1.688907
          ...
1055     0.288325
1056    -3.397536
1057    -0.494071
1058    -1.041476
1059    29.612341
Name: TIGER, Length: 1059, dtype: float64

In [8]:
berkshire = whale_returns['BERKSHIRE'].pct_change()
berkshire

1            NaN
2      -1.641381
3       0.596558
4      -2.947282
5      -0.873840
          ...
1055   -1.759149
1056    1.152302
1057   -0.499394
1058   -1.708741
1059    1.115916
Name: BERKSHIRE, Length: 1059, dtype: float64

In [9]:

# go throught he companies and remove the nulls
# will do this as single entity
soros = soros.dropna()
soros.isnull().sum()

0

In [10]:
# Drop nulls
paulson = paulson.dropna()
paulson.isnull().sum()

0

In [11]:
# Drop nulls
tiger = tiger.dropna()
tiger.isnull().sum()

0

In [12]:
# Drop nulls
berkshire = berkshire.dropna()
berkshire.isnull().sum()

0

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [13]:
# Reading S&P 500 Closing Prices
sp500_file = Path('./Resources/sp500_history.csv')
df_sp500 = pd.read_csv(sp500_file)
# test the data frame
df_sp500.head()

        Date     Close
0  23-Apr-19  $2933.68
1  22-Apr-19  $2907.97
2  18-Apr-19  $2905.03
3  17-Apr-19  $2900.45
4  16-Apr-19  $2907.06

In [14]:
# Check Data Types
df_sp500.dtypes

Date     object
Close    object
dtype: object

In [15]:
# Fix Data Types
# remove $ sign from close
df_sp500['Close'] = df_sp500['Close'].str.replace('$', '')
# change datatype to float
df_sp500['Close'] = df_sp500['Close'].astype(float)
df_sp500.dtypes
df_sp500.head()

C:\Users\rainb\AppData\Local\Temp/ipykernel_18904/1076236437.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_sp500['Close'] = df_sp500['Close'].str.replace('$', '')

        Date    Close
0  23-Apr-19  2933.68
1  22-Apr-19  2907.97
2  18-Apr-19  2905.03
3  17-Apr-19  2900.45
4  16-Apr-19  2907.06

In [22]:
# Convert date object to date
df_sp500['Date'] = pd.to_datetime(df_sp500['Date'])
df_sp500.head()

        Date    Close
0 2019-04-23  2933.68
1 2019-04-22  2907.97
2 2019-04-18  2905.03
3 2019-04-17  2900.45
4 2019-04-16  2907.06

In [24]:
# Calculate Daily Returns
df_sp500['Close'].pct_change()
df_sp500.head()

        Date    Close
0 2019-04-23  2933.68
1 2019-04-22  2907.97
2 2019-04-18  2905.03
3 2019-04-17  2900.45
4 2019-04-16  2907.06

In [19]:
# Drop nulls
df_sp500_daily_returns = df_sp500_daily_returns.dropna()
df_sp500_daily_returns.isnull().sum()

0

In [20]:
# Rename `Close` Column to be specific to this portfolio.
df_sp500_daily_returns.head()
df_sp500_daily_returns = df_sp500_daily_returns.columns = ['SP500_CLOSE']
df_sp500_daily_returns

AttributeError: 'list' object has no attribute 'columns'

## Combine Whale, Algorithmic, and S&P 500 Returns

In [ ]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [ ]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [ ]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [ ]:
# Reading data from 1st stock

In [ ]:
# Reading data from 2nd stock

In [ ]:
# Reading data from 3rd stock

In [ ]:
# Combine all stocks in a single DataFrame

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!